CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_generic=y
CONFIG_TARGET_x86_generic_Generic=y
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=64
# 基本系统和必要工具
CONFIG_DEFAULT_base-files=y
CONFIG_DEFAULT_busybox=y
CONFIG_PACKAGE_firmware-utils=y
CONFIG_DEFAULT_luci=y
CONFIG_DEFAULT_libc=y
CONFIG_DEFAULT_libgcc=y
CONFIG_DEFAULT_logd=y

# Intel 82574L 网卡驱动
CONFIG_DEFAULT_kmod-e1000e=y
CONFIG_DEFAULT_kmod-e1000=y
CONFIG_DEFAULT_kmod-r8168=y
CONFIG_PACKAGE_kmod-r8169=y

# 网络工具和基本依赖
CONFIG_DEFAULT_kmod-button-hotplug=y
CONFIG_DEFAULT_kmod-nf-nathelper=y
CONFIG_DEFAULT_kmod-ipt-raw=y
