CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_phicomm_k2-v22.4=y

# 无线（必须）

CONFIG_PACKAGE_kmod-mt76-core=y
CONFIG_PACKAGE_kmod-mt76x2=y
CONFIG_PACKAGE_wpad-basic-mbedtls=y


# DNS（最小）

CONFIG_PACKAGE_dns2socks=n
CONFIG_PACKAGE_https-dns-proxy=n

# QoS（全部关闭省空间）

CONFIG_PACKAGE_kmod-sched-core=n
CONFIG_PACKAGE_kmod-sched-cake=n

# IPv6（全砍）

CONFIG_PACKAGE_odhcp6c=n
CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_ipv6helper=n

# 删除大体积组件

CONFIG_PACKAGE_openssh-server=n
CONFIG_PACKAGE_openssl-util=n
CONFIG_PACKAGE_ca-bundle=n
CONFIG_PACKAGE_ca-certificates=n
CONFIG_PACKAGE_wget-ssl=n
CONFIG_PACKAGE_curl=n
CONFIG_PACKAGE_luci-app-firewall=n

# Shell优化

CONFIG_BUSYBOX_CONFIG_FEATURE_EDITING_SAVEHISTORY=n

# 镜像压缩（关键）

CONFIG_TARGET_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=y

# 分区缩小

CONFIG_TARGET_ROOTFS_PARTSIZE=32

# USB（可选，K2一般不用）

CONFIG_PACKAGE_kmod-usb-core=n




# 去掉大体积组件

CONFIG_PACKAGE_openssh-server=n
CONFIG_PACKAGE_openssl-util=n
CONFIG_PACKAGE_python3=n
CONFIG_PACKAGE_lua=n

# 压缩优化

CONFIG_TARGET_SQUASHFS=y
CONFIG_TARGET_IMAGES_GZIP=y

# 广告拦截
CONFIG_PACKAGE_adbyby=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-i18n-adbyby-plus-zh-cn=n

CONFIG_PACKAGE_luci-app-filetransfer=n
# 内存释放
CONFIG_PACKAGE_luci-app-ramfree=n

CONFIG_PACKAGE_terminfo=n
# CPU 频率调节和 CPU 限制应用
CONFIG_PACKAGE_luci-app-cpulimit=n


# 网络加速器
CONFIG_PACKAGE_luci-app-turboacc=n
# CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=n

CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_automount=n
CONFIG_PACKAGE_openssh-sftp-server=n

# 防出错IPV6
CONFIG_PACKAGE_odhcpd-ipv6only=n
CONFIG_PACKAGE_odhcpd=n

CONFIG_PACKAGE_luci-app-serverchan=n
CONFIG_PACKAGE_luci-theme-material=n
CONFIG_PACKAGE_luci-app-sqm=n
CONFIG_PACKAGE_luci-app-eqos=n

# 管理 ARP 绑定IP绑定
CONFIG_PACKAGE_luci-app-arpbind=n
# 上网时间控制
CONFIG_PACKAGE_luci-app-accesscontrol=n

CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-wol=n

CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-app-upnp=n

CONFIG_PACKAGE_luci-app-firewall=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-ramfree=n
CONFIG_PACKAGE_luci-app-ttyd=n


# 精简，去掉 NAS/Docker
CONFIG_PACKAGE_samba4=n
CONFIG_PACKAGE_docker=n
CONFIG_PACKAGE_luci-app-dockerman=n
